{% extends "base/base.html" %}
{% load static %}

{% block title %}Examen - Organizadores{% endblock %}


{% block cabecera %}
    <h1>Lista Organizadores</h1>
    <hr>
    <br>
{% endblock %}

{% block contenido %}
    
    {% if perms.examen.delete_organizador %}
        {% include "base/modal/_modal_eliminar.html" %}
    {% endif %}

    {% if Mensaje_Busqueda %}
        <pre>{{Mensaje_Busqueda}}</pre>
        <hr>
        <br>
    {% endif %}

    <div class="d-flex flex-wrap align-content-center justify-content-center gap-4">
        {% for Organizador_Mostrar in Organizadores_Mostrar %}
            {% include "models/organizador/_item_organizador.html" %}
        {% empty %}
            <h2>No se encontraron Organizadores</h2>
        {% endfor %}
    </div>

{% endblock %}