<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal</title>
</head>
<body>
    <h1>Animal</h1>
    <hr>

    <h3>Nombre: {{Animal_Mostrar.nombre}}</h3>
    <p>descripcion: {{Animal_Mostrar.descripcion}}</p>
    <h3>Fecha Nacimiento: {{Animal_Mostrar.fecha_nacimiento}}</h3>

    <h2>tipo</h2>
    <h3>nombre: {{Animal_Mostrar.tipo.nombre}}</h3>
    <p>descripcion: {{Animal_Mostrar.tipo.descripcion}}</p>

</body>
</html>