<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    
    <h1>Lista de enlaces</h1>
    <p>Examen Django - Manuel Avecilla</p>
    <hr>
    <br>

    <ul>
        <li><a href="{% url 'dame_animal' id_animal=1 %}">Enlace URL 1</a></li>
        <li><a href="{% url 'dame_revision' id_animal=1 %}">Enlace URL 2</a></li>
        <li><a href="{% url 'dame_alimales_revisiones' %}">Enlace URL 3</a></li>
        <li><a href="{% url 'dame_tipo_sin_animales' %}">Enlace URL 4</a></li>
        <li><a href="{% url 'dame_alerta_pendiente_2025' %}">Enlace URL 5</a></li>
    </ul>

</body>
</html>