<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    
    <h1>Lista de enlaces</h1>
    <p>Examen Django - Manuel Avecilla</p>
    <hr>
    <br>

    <ul>
        <li><a href="{% url 'dame_ultima_revision' id_coche=1 %}">Enlace URL 1</a></li>
        <li><a href="{% url 'dame_coche_revision_grave' %}">Enlace URL 2</a></li>
        <li><a href="{% url 'dame_talleres_sin_revision' %}">Enlace URL 3</a></li>
        <li><a href="{% url 'dame_coches_nuevos' %}">Enlace URL 4</a></li>
        <li><a href="{% url 'dame_mecanicos_experienca' %}">Enlace URL 5</a></li>
        <li><a href="{% url 'dame_itvs_rechazadas' %}">Enlace URL 6</a></li>
    </ul>

</body>
</html>