<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    
    <h1>Lista de enlaces</h1>
    <p>Examen Django - Manuel Avecilla</p>
    <hr>
    <br>

    <ul>
        <li><a href="{% url 'dame_ultimo_voto' id_movil=1 %}">Enlace URL 1</a></li>
        <li><a href="{% url 'dame_moviles_malos' id_usuario=2 %}">Enlace URL 2</a></li>
        <li><a href="{% url 'dame_usuarios_nunca_votaron' %}">Enlace URL 3</a></li>
        <li><a href="{% url 'dame_cuentas_bancarias' texto="sor" %}">Enlace URL 4</a></li>
    </ul>

</body>
</html>