<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voto</title>
</head>
<body>
    <hr>
    <h1>Voto: </h1>
    <h3>Puntuacion: {{Voto_Mostrar.puntuacion}}</h3>
    <p>Comentario: {{Voto_Mostrar.comentario}}</p>
    <h3>Fecha Envio {{Voto_Mostrar.fecha_envio}}</h3>
    <br>
    <h2>Usuario: {{Voto_Mostrar.usuario.nombre_usuario}}</h2>
    <p>Correo: {{Voto_Mostrar.usuario.correo}}</p>
    <hr>
</body>
</html>